body{
  background-color: #000;
}

.theme-box {
  background-color: #000;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: auto;
  padding-top: 25px;
  padding-bottom: 50px;
}

.theme-box .heading{
  margin-bottom: 80px;
  background-color: black;
  color: whitesmoke;
  padding: 10px;
  border-radius: 25px;
  box-shadow: 0 0 25px #fff;
  transition: 0.4s ease-in-out;
}

.theme-box img{
  width: 180px;
  border-radius: 30px;
  border: 3px solid var(--main-color);
  box-shadow: 0 0 25px #000;
}

.wrapper{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap : 3rem;
}
  

.theme-item{
  min-height: 200px;
  max-width: 450px;
  background: aqua;
  box-shadow: 0 0 25px aqua;
  border: 3px solid rgba(238, 238, 238, 0.2);
  border-radius:30px;
  margin: 0 2rem;
  padding: 30px 60px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  grid-area: 1.5rem;
  color: black;
  transition: 0.4s ease-in-out;
}

.theme-item:hover{
  border: 3px solid var(--main-color);
  transform: translateY(-10px)scale(1.03);
  box-shadow: 0 0 50px var(--main-color);
}

.theme-item p{
  font-size: 30px;
  margin-top: 25px;

}

#btn_theme{
  margin-top: 50px;
}

